body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    color: #007ABD;
}

a {
    color: #007ABD;
}

#links a {
    display: block;
    width: 200px;
    font-size: 1.4rem;
}

#links {
    display: flex;
    justify-content: space-around;
}

#description {
    padding: 0 16px;
}

h1 {
    font-size: 2.8rem;
    width: 100%;
}

section {
    margin: 32px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}
  
.column {
    flex: 100%;
    max-width: 100%;
}
  
.column img {
    vertical-align: middle;
    width: 100%;
}

@media screen and (min-width: 576px) {
    .column {
        max-width: 50%;
    }
    #description {
        padding: 0 80px;
    }
    .img-container-top {
        padding-bottom: 1px;
    }
    .img-container-bottom {
        padding-top: 1px;
    }
    .img-container-left {
        padding-right: 1px;
    }
    .img-container-right {
        padding-left: 1px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        max-width: 1000px;
        margin: 0 auto;
    }
    #description {
        padding: 0 160px;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 12px;
    }
    #links a {
        max-width: 150px;
    }
}