body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    color: #007ABD;
}

a {
    display: block;
    width: 200px;
    color: #007ABD;
    font-size: 1.5rem;
}

#links {
    display: flex;
    justify-content: space-around;
}

#description {
    padding: 0 16px;
}

h1 {
    font-size: 2.5rem;
    width: 100%;
}

section {
    margin-top: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}
  
.column {
    flex: 100%;
    max-width: 100%;
}
  
.column img {
    vertical-align: middle;
    width: 100%;
}

@media screen and (min-width: 576px) {
    .column {
        max-width: 50%;
    }
    #description {
        padding: 0 80px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        max-width: 1000px;
        margin: 0 auto;
    }
    #description {
        padding: 0 160px;
    }
}